name: Trigger Jenkins Build

on:
  workflow_run:
    workflows: ["Tag and Version"]
    types:
      - completed

permissions:
  contents: read

jobs:
  jenkins:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get Jenkins crumb
        id: get_crumb
        run: |
          CRUMB=$(curl -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" \
            -X GET "http://51.81.32.234:8080/crumbIssuer/api/json" | jq -r .crumb)
          echo "::set-output name=crumb::$CRUMB"

      - name: Trigger Jenkins build
        run: |
          curl -X POST "http://51.81.32.234:8080/job/FCFB-Discord-Ref-Bot-PRD/build?token=${{ secrets.JENKINS_TOKEN }}" \
            -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" \
            -H "Jenkins-Crumb: ${{ steps.get_crumb.outputs.crumb }}"
        env:
          JENKINS_USER: ${{ secrets.JENKINS_USER }}
          JENKINS_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}